
.post{
  border: 2px solid #000;
  /* padding:2px; */
  margin: 5px;
}
.text {
  background: #fff;
  padding: 10px;
}
.author {
  color: #000;
  font-weight: 500;
  padding: 2px;
}

.flex {
  display: flex;
  justify-content: space-between;
}